<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="Server=localhost;Database=webkutup;Uid=webuser;Pwd=StrongPassword!123;AllowPublicKeyRetrieval=True;SslMode=None;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <sessionState timeout="30" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="tr-TR" uiCulture="tr-TR" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>

